.BigBackImage{
  margin-left: 50px;
  padding-top: 50px;
  height: 65vh;
  color: white;
}
.dateandinfo{
  margin-bottom: 5px;
  color: gray;
  font-family: "Open Sans", sans-serif;
}
.eventdesc{
  color: lightgray;
  margin-bottom: 5px;
  width: 30%;
  font-family: "Open Sans", sans-serif;
}
.lenguas{
  color: gray;
  font-family: "Open Sans", sans-serif;
}

.watchbutton{
  font-size: 18px;
  padding: 7px;
  color: white;
  background: #d0021b;
  width: 5%;
  border-radius: 7px;
  &:hover {
    background: #F42F47;
  }

}