@import 'react-multi-carousel/lib/styles.css';

.react-multi-carousel-track li:first-child {
  width: 40px !important;
}

.BigCarrousel{
  position: relative;
  margin-bottom: 2%;
}

h2{
  margin-left: 55px;

  margin-bottom: 0px;
  position: absolute;
  top: 0px;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'DM Sans', sans-serif;

  & + div {
    padding-top: 20px;
  }


}


.DeadSpace {
  height: 100%;
  width: 40px;
  content: " ";
}